# Ignore everything inside portfolio
portfolio/*

# Allow these specific files
!portfolio/allocator.py
!portfolio/goals.py
!portfolio/optimizer.py

__pycache__/

#  Data files (too large for git)
data/*.parquet

# Trained models
models/*.pkl

# Outputs
outputs/
